/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~bootstrap/dist/css/bootstrap.css";
@import 'material-icons/iconfont/material-icons.css';

body { background: #f0f0f0; }

/* data not found page */
.empty-state { width: 100%; margin: 14px auto; background: #fff; border-radius: 10px; }
.empty-state__content { padding: 48px; display: flex; align-items: center; flex-direction: column; }
.empty-state__content .empty-state__icon { width: 200px; height: 200px; display: flex; align-items: center; border-radius: 200px; justify-content: center; background-color: #f7fafc; box-shadow: 0px 2px 1px #e1e3ec; }
.empty-state__content .empty-state__icon img { width: 213px; }
.empty-state__content .empty-state__message { color: #f5821f; font-size: 1.5rem; font-weight: 500; margin-top: 0.85rem; }
.empty-state__content .empty-state__help { color: #a2a5b9; font-size: 0.875rem; margin: 8px 0 0; }
.credit { color: #a2a5b9; font-size: 0.75rem; text-align: center; }
.credit a { color: #444; }

